<div class="card">
    <a href="/products/{{product.id}}" class="link">
        <div class="product-image">
            <img src="{{product.image}}">
        </div>
        <div class="product-name">{{product.name}}</div>
        <div class="product-price">{{product.price}}</div>
        <div class="product-color" [ngStyle]="{'background-color': product.color}"></div>
    </a>
    <button class="btn btn-buy" (click)="handleAddToCart()"[disabled]="product.quantity < 1 || isQuantInCartSame()">Add to Cart</button>
    <div class="product-favorite">
        <fa-icon [icon]="faEmptyHeart" *ngIf="!product.isFavored" (click)="product.isFavored=!product.isFavored"></fa-icon>
        <fa-icon [icon]="faFilledHeart" *ngIf="product.isFavored" (click)="product.isFavored=!product.isFavored"></fa-icon>
    </div>
</div>

<style>
    .card {
  border-radius: 2px;
  width: 250px;
  position: relative;
  height: 420px;
}

.product-image {
  height: 250px;
  background-size: contain;
  max-width: 100%;
  width: auto;
  margin-bottom: 8px;
}

.product-price {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.product-name {
  font-size: 20px;
}

.product-color {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-bottom: 8px;
  border: 1px solid gray;
}

img {
  width: 100%;
  height: auto;
}

.product-favorite {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  font-size: 25px;
  cursor: pointer;
  width: 25px;
}

.btn {
  background: #333;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  padding: 10px 22px 10px;
  cursor: pointer;
}

.btn:disabled,
.btn[disabled]{
  background-color: lightgray;
}

.btn-buy {
    position: absolute;
    bottom: 0;

}

.link {
  text-decoration: none;
  color: #333;
}

</style>